<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <style>
        .project img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        {% include 'includes/header.html' %}

        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>